# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
TODO
package-lock.json
backend/.env
backend/.env
mobileapp/.gradle
mobileapp/gradle
mobileapp/app/build
.vercel
frontend/.env